<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Makan Bang, Merupakan website katalog restoran yang sangat populer">
    <meta name="theme-color" content="white"/>
    <link rel="manifest" href="./manifest.json">
    <link rel=canonical>
    <title>Makan Bang</title>
    <link rel="apple-touch-icon" type="image/png" href="./images/icons/icon1.png">
    <link rel="shortcut icon" type="image/png" href="./images/icons/icon1.png">
</head>
<body>
    <skip-content> </skip-content>
    <nav-view></nav-view>
    <hero-view></hero-view>
    <div id="preload"></div>
    <noscript style="display: flex; flex-direction: column; justify-content: center; align-items: center;
    text-align: center;">
        <h1 style="font-weight: bold;">Mohon Aktifkan Akses Javascript Untuk Mengakses Halaman Ini</h1>
        <h2>Jika Halaman Terus Error, Silahkan Hubungi <a href="https://facebook.com/cruokchannel">Administrator</a></h2>    
    </noscript>
    <main id="main-content">
        <div class="content">
            
        </div>
    </main>

    <footer-view></footer-view>
    <!-- Import FontAwesome CDN -->
<script src="https://kit.fontawesome.com/29d78cd7a8.js" crossorigin="anonymous"></script>
</body>
</html>
